<%= markdown(@wiki.title) %> <br>
 
 <div class="row">
   <div class="col-md-8">
    <p><%= markdown(@wiki.body) %></p> 
    
    <p> Owner: <%= @wiki.user.name %></p>
     <%= render partial: 'collaborators/list' %>
   </div>
   <div class="col-md-4">
       <% if policy(@wiki).update? %>
       <% if user_can_edit?(@wiki) %>
         <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
         <%= link_to "Delete Post", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
       <% end %>
       <% end %>
   </div>
 </div>