<!--<%= form_tag charges_path do %>-->
<!--   <h4>Click the button!</h4>-->
<!--   <script class='stripe-button' -->
<!--   src="https://checkout.stripe.com/checkout.js" -->
<!--   data-key="<%= @stripe_btn_data[:key] %>" -->
<!--   data-amount="<%= @stripe_btn_data[:amount] %>" -->
<!--   data-description="<%= @stripe_btn_data[:description] %>" >-->
       
<!--   </script>-->
<!-- <% end %>-->
 
 <%= form_tag charges_path do %>
  <h4>If you want to upgrade your account to premium,</h4>
   <h4>Click the button!</h4>
   <script class='stripe-button' 
   src="https://checkout.stripe.com/checkout.js" 
   data-key="<%=  "pk_test_fhhBFwNfJ2ZUJv74iCFQxKRd" %>" 
   data-amount="<%= 10_00 %>" 
   data-description="<%= "test" %>" >
       
   </script>
 <% end %>
 
 <h3>Change My Account</h3>
 
 <h4>Downgrade your account to standard</h4>
 
 <h4>You have to sign up to premium to be able to use this function</h4>


<% if current_user.premium? %>
       <%= link_to "Downgrade", downgrade_user_path(current_user),data: { confirm: "Are you sure?" }, class: 'btn btn-warning' %>
<% end %>